*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #EEEEEE;
}

.loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: #010D14;
}
.loginBox__logoContent{
    color: 2em;
    font-size: 2em;
    font-weight: bold;
    color: white;

    margin-bottom: 20px;
}
.loginBox__inputContent{
    margin: 5px;
}
.loginBox__input{
    width: 200px;
    border: none;

    padding: 2px;

    border-bottom: 1px solid white;

    background-color: #00000000;

    font-size: 1.2em;
    color: white;

    outline: none;
}
.loginBox__label{
    display: inline-block;
    width: 100px;

    color: white;
    font-size: 1.2em;
    font-weight: bold;
}